site_name: scida
site_url: https://scida.io
repo_url: https://github.com/cbyrohl/scida
repo_name: cbyrohl/scida

theme:
  name: material
  custom_dir: docs/overrides
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - navigation.expand
    - navigation.path
    - search.highlight
    - search.share
    - content.code.annotate
    - content.code.copy

nav:
  - Home: index.md
  - Getting Started:
      - "Installation": install.md
      - 'Tutorial':
          - 'Tutorial': tutorial/index.md
          - 'Simulations': tutorial/simulations.md
          - 'Observations': tutorial/observations.md
  - Features:
      - 'Supported datasets': supported_data.md
      - 'Visualization': visualization.md
      - 'Units': units.md
      - 'Derived fields': derived_fields.md
      - 'Data series': series.md
      - 'Large datasets': largedatasets.md
      - 'Halo/Galaxy Catalogs': halocatalogs.md
  - Further Topics:
      - 'FAQ': faq.md
      - 'Configuration': configuration.md
      - 'Development': developer.md
      - 'Visual Impressions': impressions.md
  - Cookbooks:
      - 'Cookbooks': cookbooks/index.md
      #- 'TNG-Cluster': cookbooks/TNG-Cluster/basic.ipynb
  - API:
      - 'Basic': api/base_api.md
      - 'Index': api/moduleindex.md

markdown_extensions:
  - markdown_include.include:
      base_path: "docs/"
  - pymdownx.tabbed
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      use_pygments: true
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - admonition
  - pymdownx.details
  - toc
  - tables
  - attr_list
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - md_in_html
  - pymdownx.keys

plugins:
  - glightbox:
      touchNavigation: true
      loop: true
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: true
      caption_position: bottom
  - search:
  - mkdocs-video:
      css_style:
        float: left
        vertical-align: top
        height: 12.172vw
        width: 12.172vw
  - mkdocs-jupyter:
      execute: !ENV [JUPYTER_EXECUTE, false]
      execute_ignore:
        - "notebooks/static/*.ipynb"
        - "cookbooks/*/*.ipynb"
      include: [ "*.ipynb" ]
      ignore: [ ".ipynb_checkpoints/*.ipynb", "notebooks/static/*.ipynb", "notebooks/*.ipynb" ]
      include_source: True
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_submodules: true
            docstring_style: numpy

watch:
  - src/scida

extra_javascript:
  - javascripts/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css

not_in_nav: |
  /cookbooks/*/*.ipynb
