site_name: scida
repo_url: https://github.com/cbyrohl/scida
theme:
  name: material
  features:
    - content.code.annotate
    - content.code.copy
    - navigation.sections
    - navigation.indexes

nav:
  - 'Scida': index.md
  - 'Getting Started':
      - "Installation": install.md
      - 'Tutorial':
          - 'Tutorial': tutorial/index.md
          - 'Simulations': tutorial/simulations.md
          - 'Observations': tutorial/observations.md
  - 'Features':
      - 'Supported datasets': supported_data.md
      - 'Visualization': visualization.md
      - 'Units': units.md
      - 'Derived fields': derived_fields.md
      - 'Data series': series.md
      - 'Large datasets': largedatasets.md
      - 'Halo/Galaxy Catalogs': halocatalogs.md
  - 'Further Topics':
      - 'FAQ': faq.md
      - 'Configuration': configuration.md
      - 'Development': developer.md
      - 'Visual Impressions': impressions.md
  - 'API':
      - 'Basic': api/base_api.md
      - 'Index': api/moduleindex.md

markdown_extensions:
  - markdown_include.include:
      base_path: "docs/"
  - pymdownx.tabbed
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      use_pygments: true
      pygments_lang_class: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc
  - tables
  - attr_list
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - md_in_html


plugins:
  - glightbox:
      touchNavigation: true
      loop: true
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: true
      caption_position: bottom
  - search:
  - mkdocs-video:
      css_style:
        float: left
        vertical-align: top
        height: 12.172vw
        width: 12.172vw
  #- mkdocs-jupyter:
  #    execute: !ENV [JUPYTER_EXECUTE, true]
  #    execute_ignore:
  #      - "notebooks/static/*.ipynb"
  #    kernel_name: scida
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_submodules: true
            docstring_style: numpy
watch:
  - src/scida


extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/gridview.css
  - stylesheets/code_select.css
  - stylesheets/mkdocstrings.css
